<footer>
    <div class="subscribe">
      <div><span>در خبرنامه پورتفوگرام عضو شوید تا از تازه ترین اخبار روز بورس مطلع شوید</span></div>
      <form>
        <input type="text" name="subscribe" placeholder="xyz@gmail.com" >
        <button type="submit"><span>عضویت در خبر نامه</span></button>
      </form>
    </div>
    <div class="foot-nav">
        <div><a href="#">نقشه بازار</a></div>
        <div><a href="#">الگوتریدینگ</a></div>
        <div><a href="#">ربات پورتفوگرام</a></div>
        <div><a href="#">پورتفوگرام</a></div>
        <div><a href="#">درباره ما</a></div>
        <div><a href="#">تماس با ما</a></div>
        <div><a href="#">قوانین و مقررات</a></div>
        <div><a href="#">بازدهی بازارها</a></div>
    </div>
    <div class="social-meida">
      <a href="https://www.instagram.com/portfogram/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/portfogram/"><i class="fab fa-youtube"></i></a>
      <a href="https://www.instagram.com/portfogram/"><i class="fab fa-telegram"></i></a>
      <a href="https://www.instagram.com/portfogram/"><i class="fab fa-instagram"></i></a>
    </div>
  </footer>